/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 02-Apr-2016, 03:03:28
    Author     : csaba
*/

.label {
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #5273a4;
    -fx-opacity: 0.9;
}
